<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
</head>
<body>
    <h1>About Us</h1>
    <p>The sonar technology is one of the key elements of underwater exploration and navigation,
        however, ability to distinguish between stones and mines in problematic ocean environments
        is still a very challenging issue. This distinction is of utmost importance for submarine
        safety and, therefore, to prevent any disasters. In this research, we are eager to deal
        with the problem previously mentioned through the use of data analytics on an
        all-encompassing sonar dataset. This will involve the investigation of a range of techniques
        to pick out and examine those aspects that correctly separate rock and mine signatures allowing sonar to be more precise
        in identifying underwater threats, and so in providing a much greater degree of safety for submarine operations.</p>
    <h1>
        Meet "The Team"</h1>
<p><ul>
  <li><strong>Ranak Debnath</strong></li>
  <li><strong>Md Mazidul Islam</strong></li>
  <li><strong>Md Ananur Islam</strong></li>
  <li><strong>Amrit Kumar Samantray</strong></li>
</ul>
</p>
<h2>
        References</h2>
<p><ul>
  <li>https://www.kaggle.com/code/sugamkhetrapal/project-3-sonar-mines-vs-rocks</li>
  <li>https://medium.com/ai-techsystems/sonar-data-mines-vs-rocks-on-cainvas-c0a08dde895b</li>
  <li>https://www.analyticsvidhya.com/blog/2022/04/predicting-sonar-rocks-against-mines-with-ml/</li>

</ul>
</p>
</body>
</html>
